/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  background-size: 4px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border: var(--text-color) 2px solid;
}

.header {
  margin-block: 100px;
  font-family: 'Press Start 2P';
}

.header__logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding-block-start: clamp(7.5rem, 7.1484rem + 1.5vw, 8.5rem);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7109rem + 1.5vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.6758rem + 0.85vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
  display: flex;
  justify-content: center;
  padding-inline-start: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  padding-block: 25px;
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  border-color: transparent;
  text-transform: uppercase;
  background-color: transparent;
  appearance: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -12px;
}

.card__title {
  padding: 4px 24px 4px 10px;
  font-weight: 700;
  font-size: 18px;
}

.card__img {
  width: 100%;
}

.card__text {
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.card__paragraph {
  font-size: 18px;
}

.button {
  border: var(--text-color) 2px solid;
  font-size: 14px;
  font-family: 'Press Start 2P';
  appearance: none;
  background-color: transparent;
}

.card__like-button_container {
  display: flex;
  justify-content: end;
}

.card__like-button {
  padding: 11px 37px;
}

.main {
  background-color: var(--background-color);
}

.main__save-button_container {
  padding-block-start: 50px;
  padding-block-end: 100px;
  display: flex;
  justify-content: center;
}

.main__save-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}

.save-button__icon {
  stroke: currentColor;
  width: 21px;
  aspect-ratio: 1/1;
}

@media (width <= 375px) {
  .main__save-button {
    flex-direction: column;
  }
  .save-button__icon {
    width: 28px;
  }
}