/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.page.theme-light {
  --background-color: #fff;
  --text-color: #000;
  --text-color-active: #666;
  background-image: url(../svg/pattern-light.svg);
}

@media(prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #000;
    --text-color-active: #666;
  }

  .page {
    background-image: url(../svg/pattern-light.svg);
  }
}

.page.theme-dark {
  --background-color: #000;
  --text-color: #00cc14;
  --text-color-active: #007a0c;
  background-image: url(../svg/pattern-dark.svg);
}

@media(prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --text-color: #00cc14;
    --text-color-active: #007a0c;
  }

  .page {
    background-image: url(../svg/pattern-dark.svg);
  }
}
