/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --background-color: #fff;
    --text-color: #000;
    --text-color-active: #666;
    --text-header-weight: 785;
    --text-content-weight: 465;
    --heart-sparks-color: #f00;
    --watermark-stroke-color: #fff;
}